.App {
  text-align: center;
  .fab-modal {
    position: absolute;
    right: 20px;
    top: 75px;
  }
  .body {
    max-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    .item-list {
      width: 100%;
      padding-top: 65px;
      overflow-y: auto;
    }
  }
}